@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

#wrap {
  width: 100%;
  height: auto;
}

html,
body {
  width: 100%;
  height: 100%;
}

ul,
li {
  list-style: none;
}

input {
  outline: none;
}

input,
select {
  display: block;
}

p {
  /* cursor: default */
  /* text-wrap: balance; */
  /* text-wrap: pretty; */
}


/* Swiper */
.swiper-button-next,
.swiper-button-prev {
  color: #000;
  /* 네비게이션 버튼 색상 */
  transform: scale(0.7);
  /* 네비게이션 버튼 크기 조정 */
}


/* 페이지네이션 도트 색상 */
#root .swiper-pagination-bullet {
  background: gray;
  /* 기본 bullet 색상 */
  border-radius: 5px;
  transition: 0.3s ease, transform 0.3s ease;
  /* 배경색과 변형의 전환 추가 */
}

#root .swiper-pagination-bullet-active {
  width: 30px;
  /* 기본 bullet의 너비 */
  height: 6px;
  /* 기본 bullet의 높이 */
  background: white;
  /* 활성 bullet 색상 */
  transform: scale(1.1);
  /* 활성 bullet 크기 조정 */
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: #ddd;
}

/* ************************************************************************ */

@layer components {
  .div-underline {
    @apply relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:block after:w-full after:h-[2px] after:bg-[#D9D9D9];
  }
}